body {
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}
#wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0;
	display: inline-block;
}
#main-wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 0px 0 100px 0;
}
#main {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 0 15px;
}
#sidebar-wrapper {
	height: 100%;
	padding: 0px 0 0px 0;
	position: fixed;
	border-right: 1px solid gray;
}
#sidebar {
	position: relative;
	height: 100%;
	overflow-y: auto;
}
#sidebar .list-group-item {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-top: 0;
}
#footer{
	padding: 10px 15px;
}
#main ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style: none;
}
#main li{
	margin: 10px;
	padding: 5px;
	border-bottom: 1px dotted #999;
}
#main div.header{
	padding-left: 10px;
}
#main li.left .chat-body {
	margin-left: 60px;
}

#main li.right .chat-body {
	margin-right: 60px;
}

#main li .chat-body p {
	margin: 0;
}

#main li.left div.chat-body p {
	padding-left: 10px;
}
#main li.right div.chat-body p {
	padding-right: 10px;
}
#main li.right .chat-body{
	margin-left: 0px;
}

#main li.right div.header{
	padding-left: 0px;
}

div#sidebar ul{
	margin: 10px;
}

@media (max-width: 992px) {
	body {
		padding-top: 0px;
	}
}
@media (min-width: 992px) {
	#main-wrapper {
		float:right;
	}
}
@media (max-width: 992px) {
	#main-wrapper {
		padding-top: 0px;
	}
}
@media (max-width: 992px) {
	#sidebar-wrapper {
		position: static;
		height:auto;
		max-height: 300px;
		border-right:0;
	}
}