body
{
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}
#wrapper
{
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0;
	display: inline-block;
}
#main
{
	position: relative;
	/*height: 100%;*/
	overflow-y: auto;
	padding: 10px;
}
#sidebar-wrapper
{
	height: 100%;
	padding: 0px 0 0px 0;
	border-right: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
}
#sidebar
{
	position: relative;
	height: 100%;
	overflow-y: auto;
}
#sidebar .list-group-item
{
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-top: 0;
}
#footer
{
	padding: 10px 15px;
}
#main ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style: none;
}
#main li
{
	/*margin: 10px;*/
	padding: 5px;
	border-bottom: 1px dotted #999;
}
#main div.header
{
	padding-left: 10px;
}
#main li.left .chat-body
{
	margin-left: 60px;
}
#main li.right .chat-body
{
	margin-right: 60px;
}
#main li .chat-body p
{
	margin: 0;
}
#main li.left div.chat-body p
{
	padding-left: 10px;
}
#main li.right div.chat-body p
{
	padding-right: 10px;
}
#main li.right .chat-body
{
	margin-left: 0px;
}
#main li.right div.header
{
	padding-left: 0px;
}
div#sidebar ul
{
	margin: 10px;
}
a.selected
{
	background-color: #E7E7E7;
	color: #555 !important;
}


/** La taille de l'écran est AU MAXIMUM de 992px. */
@media (max-width: 992px)
{
	body { padding-top: 0px; }
	#main-wrapper
	{ 
		/*padding-top: 0px;*/
		min-height: 100px;
		max-height: 400px;
		overflow-y: auto;
		/*padding: 0px 0 100px 0;*/
		border-top: 1px solid #E7E7E7;
		border-bottom: 1px solid #E7E7E7;
	}
	#sidebar-wrapper
	{
		min-height: 150px;
		position: static;
		height: auto;
		border-right: 0;
		border-left: 0;
	}
	#wrapper
	{
		/* background-color: red; */
		padding-bottom: -100px;
		/*overflow-y: auto;*/
	}
	#connected-users
	{
		min-height: 150px;
	}
}
/** La taille de l'écran est AU MINIMUM de 992px. */
@media (min-width: 992px)
{
	#main
	{
		height: 100%;
	}
	#sidebar-wrapper
	{
		position: static;
		height: 100%;
	}
	#main-wrapper
	{ 
		/*padding-top: 0px;*/
		height: 100%;
		overflow-y: auto;
		padding: 0px 0 100px 0;
	}
}
.panel-heading
{
	margin: 0px !important;
	background-image: linear-gradient(to bottom, #FFF 0%, #F8F8F8 100%);
	background-repeat: repeat-x;
	border-bottom: 1px solid #e7e7e7;
}
#connected-users > a:focus, a:hover
{
	text-decoration: none;
}
#file-upload
{
	bottom: 0;
	position: relative;
}